* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    box-sizing: border-box;
}

body {
    background: #242424;
    color: #fff;
    margin: 0;
}

.header-row {
    display: flex;
    justify-content: left;
    background: #303030;
    box-shadow: 0px 2px 4px #181818;
}

.btn {
    margin: 10px;
    height: 48px;
    width: 48px;
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: solid; */
    font-weight: bold;
    user-select: none;
    /* box-shadow: 4px 4px 20px #181818; */
}

.btn:hover {
    background-color: #3E3E3E;
    transition: background-color 0.2s;
}

.btn:active {
    background-color: #444444;
    transition: background-color 0.2s;
}

img {
    width: 50%;
    height: 50%;
}
