* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    box-sizing: border-box;
}

body {
    background: #242424;
    color: #fff;
    margin: 0;
    height: 100vh;
    max-height: 100vh;
}

div#root {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
}


.header-row {
    display: flex;
    justify-content: left;
    background: #303030;
    box-shadow: 0px 2px 4px #181818;
}

.btn {
    margin: 10px;
    height: 48px;
    width: 48px;
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: solid; */
    font-weight: bold;
    user-select: none;
    /* box-shadow: 4px 4px 20px #181818; */
}

.btn:hover {
    background-color: #3E3E3E;
    transition: background-color 0.2s;
}

.btn:active {
    background-color: #444444;
    transition: background-color 0.2s;
}

.icon {
    width: 50%;
    height: 50%;
}

.main-content {
    flex: 1;
    display: flex;
    overflow: hidden;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.list {
    overflow-y: auto;
    list-style: none;
    padding: 5px;
    margin: 5px;
    padding-right: 15px;
    width: 500px;
}

.login {
    margin: 10px 0px;
    border-radius: 0.35em;
    padding: 10px;
    user-select: none;
    display: flex;
    transition: 0.2s;
    overflow: hidden;
    cursor: pointer;
}

.login:hover {
    background-color: #3E3E3E;
    transform: translate(0, -5px);
}

.login.selected {
    background-color: #444444;
    box-shadow: 0px 4px 10px #181818;
    transform: translate(0, -5px);
}

.favicon {
    width: 48px;
    height: 48px;
    margin: auto 10px;
}

.title {
    font-size: 32px;
    padding: 0 10px;
}

.username {
    font-size: 28px;
    color: gray;
    padding: 0 10px;
}

.seperator {
    background-color: dimgray;
    width: 2px;
}

.login-details {
    margin: 20px auto;
}

.login-detail {
    padding: 20px;
    background-color: #303030;
    transition: 0.05s;
    outline: 0px solid #4D6887;
    box-shadow: 4px 4px 10px #181818;
    cursor: text;
}

.login-detail.top {
    border-radius: 0.5em 0.5em 0 0;
}

.login-detail.bottom {
    border-radius: 0 0 0.5em 0.5em;
}

.login-detail:hover {
    outline: 3px solid #4D6887;
}

.login-detail-label {
    background-color: #fff;
}

.login-title {
    color: gray;
    font-size: 25px;
    user-select: none;
}

.login-input {
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
}

.login-details-page {
    margin: 0 auto;
}

.empty-page {
    margin: auto;
}

.save-button {
    background-color: #2661a5;
    padding: 10px;
    border-radius: 0.5em;
    margin: 0 auto;
    user-select: none;
    cursor: pointer;
}
