* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 38px;
    box-sizing: border-box;
}

body {
    background: #242424;
    color: #fff;
    margin: 0;
}

.header-row {
    display: flex;
    justify-content: left;
    background: #303030;
    box-shadow: 0px 2px 4px #181818;
}

.btn {
    margin: 10px;
    height: 48px;
    width: 48px;
    border-radius: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;
    /* outline: solid; */
    font-weight: bold;
    user-select: none;
    /* box-shadow: 4px 4px 20px #181818; */
}

.btn:hover {
    background-color: #3E3E3E;
    transition: background-color 0.2s;
}

.btn:active {
    background-color: #444444;
    transition: background-color 0.2s;
}

.icon {
    width: 50%;
    height: 50%;
}

.list {
    list-style: none;
    padding: 5px;
    margin: 5px;
}

.login {
    margin: 0px;
    border-radius: 0.35em;
    padding: 10px;
    user-select: none;
    display: flex;
}

.login:hover {
    background-color: #3E3E3E;
    transition: background-color 0.2s;
}

.favicon {
    width: 48px;
    height: 48px;
    margin: auto 10px;
}

.title {
    font-size: 32px;
    padding: 0 10px;
}

.username {
    font-size: 28px;
    color: gray;
    padding: 0 10px;
}
